{%  extends 'adminBase.html.twig' %}
{% block title %}Leden | Restaurant Berke{% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">

            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Naam</th>
                        <th scope="col">Email</th>
                        <th scope="col">Status</th>
                    </tr>
                    </thead>
                    <tbody>
                    {%  set count = 1 %}
                    {% for user in users %}
                    <tr>
                        <td>{{ count }}</td>
                        <td>{{ user.name }}</td>
                        <td>{{ user.email }}</td>
                        <td><a href="{{ path('admin_delete_member', {id: user.id}) }}" class="btn btn-danger"><i class="fa-solid fa-user-xmark"></i> Verwijderen</a></td>
                    </tr>
                    {% set count = count + 1 %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}