{% extends 'base.html.twig' %}

{% block title %}Hello ContactController!{% endblock %}

{% block body %}
    <div class="container">
        <center>
            <div class="alert alert-success" role="alert">Uw bericht is successvol verzonden!</div>
        </center>
    </div>
{% endblock %}